@import url(//brick.a.ssl.fastly.net/Montserrat:200,300,700);
@font-face {
  font-family: "iconfont";
  src: url(//unsplash.global.ssl.fastly.net/assets/iconfont-6c936409cb0cfbdab410e1c2ab68b33b145a3b3cb603902982d2a6e36ab4e36b.eot);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "iconfont";
  src: url(//unsplash.global.ssl.fastly.net/assets/iconfont-6c936409cb0cfbdab410e1c2ab68b33b145a3b3cb603902982d2a6e36ab4e36b.eot);
  src: url(//unsplash.global.ssl.fastly.net/assets/iconfont-6c936409cb0cfbdab410e1c2ab68b33b145a3b3cb603902982d2a6e36ab4e36b.eot?#iefix) format("embedded-opentype"), url(//unsplash.global.ssl.fastly.net/assets/iconfont-8feca2931eed9b6d2f7b3ae71926eeedbf19cd5b1d13777f6d94a113ebe1edf8.woff) format("woff"), url(//unsplash.global.ssl.fastly.net/assets/iconfont-7384e0d93c6967450843a99eabd8ba9b209d11fa43f813e7fb99bbe9c94af448.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: "iconfont"; }

.icon-add:before {
  content: "\f101"; }

.icon-added:before {
  content: "\f102"; }

.icon-arrow-down:before {
  content: "\f103"; }

.icon-arrow-left:before {
  content: "\f104"; }

.icon-back-to-top:before {
  content: "\f105"; }

.icon-calendar:before {
  content: "\f106"; }

.icon-camera:before {
  content: "\f107"; }

.icon-check:before {
  content: "\f108"; }

.icon-collections:before {
  content: "\f109"; }

.icon-cross:before {
  content: "\f10a"; }

.icon-download:before {
  content: "\f10b"; }

.icon-earth:before {
  content: "\f10c"; }

.icon-email:before {
  content: "\f10d"; }

.icon-exif:before {
  content: "\f10e"; }

.icon-eye:before {
  content: "\f10f"; }

.icon-facebook:before {
  content: "\f110"; }

.icon-flag:before {
  content: "\f111"; }

.icon-gps:before {
  content: "\f112"; }

.icon-grid-multi:before {
  content: "\f113"; }

.icon-grid-single:before {
  content: "\f114"; }

.icon-heart:before {
  content: "\f115"; }

.icon-home:before {
  content: "\f116"; }

.icon-image:before {
  content: "\f117"; }

.icon-info:before {
  content: "\f118"; }

.icon-instagram:before {
  content: "\f119"; }

.icon-list:before {
  content: "\f11a"; }

.icon-location:before {
  content: "\f11b"; }

.icon-lock:before {
  content: "\f11c"; }

.icon-pinterest:before {
  content: "\f11d"; }

.icon-plus:before {
  content: "\f11e"; }

.icon-question:before {
  content: "\f11f"; }

.icon-remove:before {
  content: "\f120"; }

.icon-rss:before {
  content: "\f121"; }

.icon-search:before {
  content: "\f122"; }

.icon-sort-asc:before {
  content: "\f123"; }

.icon-sort-desc:before {
  content: "\f124"; }

.icon-sort:before {
  content: "\f125"; }

.icon-spinner:before {
  content: "\f126"; }

.icon-star:before {
  content: "\f127"; }

.icon-stats:before {
  content: "\f128"; }

.icon-tags:before {
  content: "\f129"; }

.icon-time:before {
  content: "\f12a"; }

.icon-trophy:before {
  content: "\f12b"; }

.icon-tumblr:before {
  content: "\f12c"; }

.icon-twitter:before {
  content: "\f12d"; }

.icon-user:before {
  content: "\f12e"; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
 * Stand
 */
.hamburger--stand .hamburger-inner {
  transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand .hamburger-inner::before {
  transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

* {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  outline-color: #6CC171; }
  a:hover {
    color: #6CC171; }

body {
  font-family: "Montserrat"; }

.no-scroll {
  overflow: hidden; }

.blur {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px); }

nav {
  height: 6em;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100vw; }
  @media (max-width: 800px) {
    nav {
      justify-content: center; } }
  nav .github {
    display: none; }
    @media (max-width: 550px) {
      nav .github {
        display: block; } }
  @media (max-width: 550px) {
    nav .links {
      display: none; } }
  nav .container {
    display: none; }
    @media (max-width: 550px) {
      nav .container {
        margin-right: 1em;
        display: block; } }
    nav .container .links.is-open {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: calc(100vh - 6em);
      position: absolute;
      width: 100vw;
      top: 6em;
      left: 0;
      right: 0;
      bottom: 0; }
      nav .container .links.is-open a {
        margin: 15px 0; }
  nav a {
    color: white;
    margin: 0 10px; }
  nav .brand {
    text-transform: uppercase;
    flex-grow: 1;
    letter-spacing: 3.4px;
    margin-left: 6em;
    font-weight: 700; }
    @media (max-width: 750px) {
      nav .brand {
        flex-grow: 0;
        margin: 0; } }
    @media (max-width: 550px) {
      nav .brand {
        flex-grow: 1;
        margin-left: 1em; } }

.btn {
  border: 2px solid white;
  border-radius: 40px;
  padding: 10px 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  margin-right: 6em; }
  @media (max-width: 750px) {
    .btn {
      margin: 0; } }
  .btn:hover {
    background: white;
    color: #6CC171; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

header {
  height: 80vh;
  width: 100vw;
  background-image: url(../img/jellyfish.jpg);
  background-size: cover;
  background-position: center bottom;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  @media (max-width: 320px) {
    header {
      height: 100vh; } }
  header h1 {
    font-size: 4em; }
    @media (max-width: 730px) {
      header h1 {
        font-size: 3em; } }
    @media (max-width: 550px) {
      header h1 {
        font-size: 2.5em; } }
  header h2 {
    margin-top: 15px; }
  header .signup {
    margin-top: 20px;
    padding: 15px 50px;
    background: #6CC171;
    border: none;
    margin-right: 0; }

section.featured {
  min-height: 100vh;
  color: #5E5C5C;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px; }
  section.featured h2 {
    font-size: 2em;
    font-weight: 300; }
  section.featured .images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw; }
    section.featured .images .img {
      width: 500px;
      height: 300px;
      border-radius: 5px;
      margin: 40px;
      background-image: url(../img/image1.jpg);
      background-size: cover;
      background-position: center;
      color: white; }
      section.featured .images .img:nth-child(2) {
        background-image: url(../img/image2.jpg); }
      section.featured .images .img:nth-child(3) {
        background-image: url(../img/image3.jpg); }
      section.featured .images .img:nth-child(4) {
        background-image: url(../img/image4.jpg); }
      section.featured .images .img figcaption {
        display: flex;
        justify-content: center;
        margin-left: 15px;
        height: inherit;
        position: absolute;
        margin-top: -15px;
        flex-direction: column; }
        section.featured .images .img figcaption h3 {
          max-width: 75%;
          font-size: 1.5em;
          height: calc(300px / 2);
          display: flex;
          align-items: center; }
        section.featured .images .img figcaption .profile {
          display: flex;
          align-items: flex-end; }
          section.featured .images .img figcaption .profile .selfie {
            height: 40px;
            width: 40px;
            background-image: url();
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            margin-right: 10px; }
          section.featured .images .img figcaption .profile amp-img {
            border-radius: 50%;
            margin-right: 10px; }
          section.featured .images .img figcaption .profile p {
            color: #CDCFD2;
            display: flex;
            font-weight: 300;
            align-items: flex-end; }
      section.featured .images .img .icon-heart {
        color: #CDCFD2;
        position: absolute;
        margin: 30px 20px; }
        section.featured .images .img .icon-heart:before {
          color: #F05652;
          margin-right: 5px; }

section#signup {
  width: 100vw;
  min-height: 200px;
  background: #6CC171;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: 300; }
  section#signup form {
    padding-top: 60px; }
    @media (max-width: 350px) {
      section#signup form {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  section#signup input[type="email"] {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    padding: 10px 30px 10px 10px;
    font-size: 1.3em;
    outline: none;
    margin-right: -5px;
    letter-spacing: 1.5px; }
    @media (max-width: 550px) {
      section#signup input[type="email"] {
        width: 50vw; } }
    @media (max-width: 350px) {
      section#signup input[type="email"] {
        width: 75vw;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        margin-right: 0px; } }
  section#signup input[type="submit"] {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    font-size: 1.3em;
    padding: 10px 50px 10px 50px;
    margin-left: -5px;
    background: #47824B;
    color: white;
    font-weight: 300;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    -webkit-appearance: none; }
    section#signup input[type="submit"]:hover {
      background: white;
      color: #47824B; }
    @media (max-width: 350px) {
      section#signup input[type="submit"] {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-left: 0px; } }

footer {
  display: flex;
  height: 5em;
  margin: 0 2em;
  align-items: center;
  color: #CDCFD2;
  font-weight: 300; }
  @media (max-width: 700px) {
    footer {
      flex-direction: column;
      height: auto; } }
  footer p {
    margin: 0 20px 0 0; }
    @media (max-width: 700px) {
      footer p {
        margin: 15px; } }
  footer a {
    margin: 0 15px; }
    footer a:last-child {
      margin-right: 0px; }
    @media (max-width: 700px) {
      footer a {
        margin: 10px 0; }
        footer a:last-child {
          margin-bottom: 20px; } }
