@import url(//brick.a.ssl.fastly.net/Montserrat:200,300,700)
@import "bourbon"
@import "icon"
@import "hamburgers"

$btn:     #6CC171
$signup:  #47824B
$footer:  #CDCFD2
$heart:   #F05652

*
  margin: 0

a
  color: inherit
  text-decoration: none
  +transition()
  outline-color: $btn
  &:hover
    color: $btn

body
  font-family: "Montserrat"

.no-scroll
  overflow: hidden


.blur
  background-color: rgba(0,0,0,0.5)
  -webkit-backdrop-filter: blur(10px)

nav
  height: 6em
  display: flex
  align-items: center
  position: absolute
  width: 100vw
  @media (max-width: 800px)
    justify-content: center
  @media (max-width: 550px)

  .github
    display: none
    @media (max-width: 550px)
      display: block


  .links
    @media (max-width: 550px)
      display: none
  .container
    display: none
    @media (max-width: 550px)
      margin-right: 1em
      display: block
    .links.is-open
      display: flex
      align-items: center
      flex-direction: column
      height: calc(100vh - 6em)
      position: absolute
      width: 100vw
      top: 6em
      left: 0
      right: 0
      bottom: 0
      a
        margin: 15px 0

  a
    color: white
    margin: 0 10px

  .brand
    text-transform: uppercase
    flex-grow: 1
    letter-spacing: 3.4px
    margin-left: 6em
    font-weight: 700
    @media (max-width: 750px)
      flex-grow: 0
      margin: 0
    @media (max-width: 550px)
      flex-grow: 1
      margin-left: 1em

.btn
  border: 2px solid white
  border-radius: 40px
  padding: 10px 20px
  +transition()
  margin-right: 6em
  @media (max-width: 750px)
    margin: 0
  &:hover
    background: white
    color: $btn

h1,h2,h3,h4,h5,h6
  font-weight: 300

header
  height: 80vh
  width: 100vw
  background:
    image: url(../img/jellyfish.jpg)
    size: cover
    position: center bottom
  color: white
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center

  h1
    font-size: 4em
    @media (max-width: 730px)
      font-size: 3em
    @media (max-width: 550px)
      font-size: 2.5em

  h2
    margin-top: 15px


  .signup
    margin-top: 20px
    padding: 15px 50px
    background: $btn
    border: none
    margin-right: 0



section.featured
  min-height: 100vh
  color: #5E5C5C
  display: flex
  align-items: center
  flex-direction: column
  padding-top: 30px
  h2
    font:
      size: 2em
      weight: 300
  .images
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    min-height: 100vh
    width: 100vw

    .img
      width: 500px
      height: 300px
      border-radius: 5px
      margin: 40px
      background:
        image: url(../img/image1.jpg)
        size: cover
        position: center
      color: white
      &:nth-child(2)
        background-image: url(../img/image2.jpg)
      &:nth-child(3)
        background-image: url(../img/image3.jpg)
      &:nth-child(4)
        background-image: url(../img/image4.jpg)

      figcaption
        display: flex
        justify-content: center
        margin-left: 15px
        height: inherit
        position: absolute
        margin-top: -15px
        flex-direction: column
        h3
          max-width: 75%
          font-size: 1.5em
          height: calc(300px / 2)
          display: flex
          align-items: center

        .profile
          display: flex
          align-items: flex-end
          .selfie
            +size(40px)
            background:
              image: url()
              size: cover
              position: center
            border-radius: 50%
            margin-right: 10px

          amp-img
            border-radius: 50%
            margin-right: 10px

          p
            color: $footer
            display: flex
            font-weight: 300
            align-items: flex-end
      .icon-heart
        color: $footer
        position: absolute
        margin: 30px 20px
        &:before
          color: $heart
          margin-right: 5px




section#signup
  width: 100vw
  min-height: 200px
  background: $btn
  color: white
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 20px 0
  font:
    size: 1.2em
    weight: 300
  form
    padding-top: 60px
    @media (max-width: 350px)
      display: flex
      flex-direction: column
      justify-content: center

  input[type="email"]
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
    border: none
    padding: 10px 30px 10px 10px
    font-size: 1.3em
    outline: none
    margin-right: -5px
    letter-spacing: 1.5px
    @media (max-width: 550px)
      width: 50vw
    @media (max-width: 350px)
      width: 75vw
      border-bottom-left-radius: 0px
      border-top-right-radius: 20px
      margin-right: 0px

  input[type="submit"]
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    border: none
    font-size: 1.3em
    padding: 10px 50px 10px 50px
    margin-left: -5px
    background: $signup
    color: white
    font-weight: 300
    +transition()
    cursor: pointer
    -webkit-appearance: none
    &:hover
      background: white
      color: $signup
    @media (max-width: 350px)
      border-top-right-radius: 0px
      border-bottom-right-radius: 20px
      border-bottom-left-radius: 20px
      margin-left: 0px

footer
  display: flex
  height: 5em
  margin: 0 2em
  align-items: center
  color: $footer
  font-weight: 300
  @media (max-width: 700px)
    flex-direction: column
  p
    margin: 0 20px 0 0
    @media (max-width: 700px)
      margin: 15px
  a
    margin: 0 15px
    &:last-child
      margin-right: 0px
    @media (max-width: 700px)
      margin: 15px 0
