# Created by https://www.gitignore.io/api/sass,codekit,osx

### Sass ###
.sass-cache/
*.css.map


### CodeKit ###
# General CodeKit files to ignore
config.codekit
config.codekit3
/min
.codekit-cache/
