doctype html
html(lang="en")
  head
    title Aperture
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="######")
    link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
  body
    nav
      h1.brand
        a(href="") Aperture
      a(href="") Discover
      a(href="") Featured
      a(href="") Pricing
      a.btn(href="") Sign in
    header
      h1 Create beautiful stories
      h2 Do something amazing with your photos
      a.signup.btn(href="#signup") Sign up
      
    section.featured
      h2 Featured
      .images
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Take on an adventure of a lifetime
            p Thomas Lang
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Take on an adventure of a lifetime
            p Thomas Lang            
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Take on an adventure of a lifetime
            p Thomas Lang
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Take on an adventure of a lifetime
            p Thomas Lang
      
    section#signup
      h2 Sign up today.
      form
        input(type="email" placeholder="email...")
        input(type="submit" value="Go")
        
    footer
      p &copy; 2015 Aperture Inc.
      a(href="") About
      a(href="") Press
      a(href="") Contact
      a(href="") Privacy
      
