doctype html
html(lang="en")
  head
    title Aperture
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#CEDFFB")
    link(rel="canonical" href="https://mcansh.github.io/aperture/")
    link(rel="amphtml" href="https://mcansh.github.io/aperture/amp/index.html")
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon" href="img/favicon/favicon.ico")
    link(rel="shortcut icon" href="img/favicon/favicon-32.png" sizes="32x32")
    <!-- Apple Touch Icons-->
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="img/favicon/png/favicon-228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="img/favicon/png/favicon-195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicon/png/favicon-152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/png/favicon-144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="img/favicon/png/favicon-128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/png/favicon-120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="img/favicon/png/favicon-96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/png/favicon-72.png")
    link(rel="apple-touch-icon-precomposed" href="img/favicon/png/favicon-57.png")
  body
    nav
      h1.brand
        a(href="") Aperture
      include ./links
      
      
      .container
        button.hamburger.hamburger--stand(type="button")
          span.hamburger-box
            span.hamburger-inner
        include ./links
        
    header
      h1 Create beautiful stories
      h2 Do something amazing with your photos
      a.signup.btn(href="#signup") Sign up
      
    section.featured#featured
      h2 Featured
      .images
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Take on an adventure of a lifetime
            .profile
              .selfie(style="background-image: url(img/users/user1.jpg)")
              p Thomas Lang
        .img
          span.icon.icon-heart 301
          figcaption
            h3 A day in Barcelona with friends
            .profile
              .selfie(style="background-image: url(img/users/user3.jpg)")
              p Kate Ludson   
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Life's questions answered by one trip
            .profile
              .selfie(style="background-image: url(img/users/user2.jpg)")
              p John Dikson
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Iceland: the most magical place on Earth
            .profile
              .selfie(style="background-image: url(img/users/user4.jpg)")
              p Sam Bosely
      
    section#signup
      h2 Sign up today.
      form(action="//formspree.io/l.m@loganmcansh.com", method="POST")
        input(type="email", placeholder="email...", name="_replyto")
        input(type="hidden", name="_subject", value="Aperture")
        input(type="text", name="_gotcha", style="display:none")
        input(type="hidden", name="_next", value="https://mcansh.github.io/aperture/success")
        input(type="submit", value="Go")
        
    footer
      p &copy; 2015 Aperture Inc.
      a(href="") About
      a(href="") Press
      a(href="") Contact
      a(href="") Privacy
      a(href="https://github.com/mcansh/aperture") View on Github
    
    // Scripts 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='js/navigation.js')
    
      
