doctype html
html(lang="en")
  head
    title Aperture
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="######")
    link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
  body
    nav
      h1.brand
        a(href="") Aperture
      a(href="") Discover
      a(href="#featured") Featured
      a(href="") Pricing
      a.btn(href="") Sign in
    header
      h1 Create beautiful stories
      h2 Do something amazing with your photos
      a.signup.btn(href="#signup") Sign up
      
    section.featured#featured
      h2 Featured
      .images
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Take on an adventure of a lifetime
            .profile
              .selfie(style="background-image: url(img/users/user1.jpg)")
              p Thomas Lang
        .img
          span.icon.icon-heart 301
          figcaption
            h3 A day in Barcelona with friends
            .profile
              .selfie(style="background-image: url(img/users/user3.jpg)")
              p Kate Ludson   
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Life's questions answered by one trip
            .profile
              .selfie(style="background-image: url(img/users/user2.jpg)")
              p John Dikson
        .img
          span.icon.icon-heart 301
          figcaption
            h3 Iceland: the most magical place on Earth
            .profile
              .selfie(style="background-image: url(img/users/user4.jpg)")
              p Sam Bosely
      
    section#signup
      h2 Sign up today.
      form(action="//formspree.io/l.m@loganmcansh.com" method="POST")
        input(type="email" placeholder="email..." name="_replyto")
        input(type="submit" value="Go")
        
    footer
      p &copy; 2015 Aperture Inc.
      a(href="") About
      a(href="") Press
      a(href="") Contact
      a(href="") Privacy
      a(href="https://github.com/mcansh/aperture") View on Github
      
